<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="core.listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <parameter name="browser" value="chrome"/>
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="login"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="tests.ui.LoginTest"/>
        </classes>
    </test>
    <test name="Checkout Tests">
        <parameter name="browser" value="gecko"/>
        <groups>
            <run>
                <include name="checkout"/>
            </run>
        </groups>
        <classes>
            <class name="tests.ui.CheckoutTest"/>
        </classes>
    </test>
</suite>
